<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->




<ul>
  <!-- the first routLinkActive used to separete thr routs veiew one another -->
  <!-- the second [routerLinkActiveOption] used to keep the home exact as it is if not selected -->
  <li> <a routerLink="" routerLinkActive="Active" [routerLinkActiveOptions]="{exact:true}"> home </a></li>
  <li> <a routerLink="projects" routerLinkActive="Active"> Projects </a></li>
</ul>

<router-outlet></router-outlet>


